[submodule "/home/oster/Mashroom/external/eccodes"]
	path = /home/oster/Mashroom/external/eccodes
	url = https://github.com/ecmwf/eccodes.git
[submodule "/home/oster/Mashroom/external/BLAKE3"]
	path = /home/oster/Mashroom/external/BLAKE3
	url = git@github.com:BLAKE3-team/BLAKE3.git
[submodule "library/linenoise"]
	path = library/linenoise
	url = git@github.com:antirez/linenoise.git
