[submodule "/home/oster/Mashroom/API/external/eccodes"]
	path = /home/oster/Mashroom/API/external/eccodes
	url = https://github.com/ecmwf/eccodes.git
[submodule "/home/oster/Mashroom/external/linenoise"]
	path = /home/oster/Mashroom/external/linenoise
	url = https://github.com/antirez/linenoise
